@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f0f0f5;
  font-family: "Montserrat", sans-serif;
}

a {
  text-decoration: none;
}

.header {
  width: 100%;
  height: 100vh;
  background: #f0f0f5;
  align-items: center;
  padding: 10px;
  margin: 0 auto;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-bottom: 1px solid #41414d;
}

.header__menu {
  width: 100%;
  height: 60px;
  position: fixed;
  background: #d3d2d2;
  box-shadow: 0px 0px 9px 3px rgba(41,41,41,.40);
  top: 0;
  left: 0;
  z-index: 1;
}

.header__menu .list {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.header__menu a {
  color: #41414d;
  display: block;
  padding: 20px 10px;
}

.touch {
  animation-name: touched;
  animation-duration: 0.5s;
  transition: all 0.5s;
}

@keyframes touched {
  from {
    opacity: 0.6;
    transform: scale(0.6);

  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

.welcome {
  position: absolute;
  top: 80px;
  font-weight: 500;
}

.welcome,
.name,
.profession,
.curriculo {
  animation-name: teste;
  animation-duration: 1s;
  transition: all 1s;
}

.curriculo {
  position: absolute;
  padding: 10px;
  bottom: 60px;
  font-size: 20px;
  color: #000;
}

.curriculo i{
  margin-right: 20px;
  font-size: 24px;
} 

@keyframes teste {
  from {
    opacity: 0;
    transform: scale(0);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

h1,
h2 {
  text-align: center;
}

.container {
  width: 100%;
  max-width: 1180px;
  position: relative;
  padding: 10px;
  margin: 0 auto;
}

.portifolio {
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  text-align: center;
  padding: 20px 0;
  border-bottom: 1px solid #41414d;
}

.portifolio .grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}

.about__title,
.portifolio__title {
  display: inline-block;
  text-align: center;
  padding: 10px;
  margin-bottom: 30px;
  color: #41414d;
  border-bottom: 2px solid #41414d;
}

.portifolio__figure {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
}

.portifolio__poster {
  width: 100%;
  overflow: hidden;
  border: 1px solid #000;

}

.portifolio__img {
  width: 100%;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

.portifolio__img:hover {
  transform: scale(1.1);
}

figcaption {
  color: #000;
  font-weight: 700;
  margin-top: 5px;
  line-height: 20px;
}
.portifolio__figure a {
  color: #000;
  font-size: 14px;
}

.portifolio__figure a:hover {
  text-decoration: underline;
}

.about {
  width: 100%;
  min-height: 100vh;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px solid #41414d;
}

.about__poster {
  width: 100%;
  max-width: 300px;
  margin: 0 0 20px;
  overflow: hidden;
}

.about__img {
  width: 100%;
  height: auto;
}

.about__description {
  width: 100%;
  max-width: 600px;
  text-align: start;
}

.contact {
  width: 100%;
  min-height: auto;
  padding: 20px 0;
  margin: 0 auto;
  text-align: center;
}

.contact__title {
  display: inline-block;
  padding: 10px;
  color: #41414d;
  border-bottom: 2px solid #41414d;
  margin-bottom: 30px;
}

.contact__icons {
  width: 100%;
}

.contact__icons a {
  display: inline-block;
  padding: 0 10px;
  font-size: 50px;
  overflow: hidden;
  color: #41414d;
}

.contact__github i:hover {
  opacity: 0.6;
}

.contact__linkedin i:hover {
  color: #0077b5;
}

.contact__instagram i:hover {
  color: #dc2743;
}

.contact__email i:hover {
  color: blue;
}

.contact__wpp i:hover {
  color: #00e676;
}

.moveToTop {
  position: fixed;
  bottom: 20px;
  z-index: 2;
  font-weight: bold;
  transform: scale(0);
  transform: translateY(60px);
  transition: all 1s;
  opacity: 0;
  cursor: pointer;
}

.moveToTop:hover {
  opacity: 0.8;
}

.moveToTop a {
  position: fixed;
  border-radius: 100%;
  opacity: 0.8;
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0px;
  padding: 8px;
  color: #000;
  background: #f0f0f5;
  border: 1px solid #000;
}

.moveToTop--visible {
  transform: scale(1);
  opacity: 1;
  transition: all 1s;
}

@media (max-width: 768px) {
  .portifolio .grid {
    grid-template-columns: 1fr 1fr;
  }

  figcaption {
    font-size: 16px;
  }
  .contact__icons a {
    font-size: 30px;
  }
}

@media (max-width: 480px) {
  .portifolio .grid {
    grid-template-columns: 1fr;
  }

  .about__poster {
    max-width: 250px;
  }
}

@media (max-width: 320px) {
  h1 {
    font-size: 24px;
  }

  h2 {
    font-size: 20px;
  }
}
